header {
  max-width: $screen-max;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  @media (min-width: $screen-lg) {
    padding: 1rem 2rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    font-size: 2rem;
    font-weight: bold;
  }
}
.header-nav-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  &__item {
    margin: 0.5rem;
  }
  &__link {
    color: black;
    text-decoration: none;
  }
  &__link:hover {
    color: black;
    text-decoration: underline;
  }
}

.header-nav.desktop {
  display: none;
  @media (min-width: $screen-lg) {
    display: block;
  }
}

.header-nav.mobile {
  display: none;
}
.header-nav[active].mobile {
  display: block;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width:100%;
  height: 100%;
}

.header__menu-btn {
  background: transparent;
  border:none;
  outline: none;
}
.header__menu-btn.mobile {
  display: block;
  @media (min-width: $screen-lg) {
    display: none;
  }
}

.header-frame {
  width: calc(100% - 2rem - 16px);
  transform: translateX(-6px);
  padding: 1rem;
  background: var(--header-frame-bg);
  border: 3px solid var(--box-color);
  box-shadow: 11px 11px var(--box-color);
  position: relative;
  margin-right: auto;
  margin-left: auto;
  transform-style: preserve-3d;
  overflow: visible;
}
.header-frame:after {
  content: "";
  position: absolute;
  background: var(--box-color);
  width: 17px;
  height: 17px;
  left: 1px;
  bottom: -11px;
  transform: translateZ(-1px) rotate(45deg);
  z-index: -1;
}
.header-frame:before {
  content: "";
  position: absolute;
  background: var(--box-color);
  width: 15px;
  height: 15px;
  right: -10px;
  top: 1px;
  transform: translateZ(-1px) rotate(45deg);
  z-index: -1;
}

.header__title {
}
