@mixin flex-align($options) {
    @if $option == center {
       align-items: center;
    }
    @else if $option == start {
       align-items: flex-start;
    }
    @else if $option == end {
       align-items: flex-end;
    }
    @else if $option == stretch {
        align-items: stretch;
    }
    @else if $option == baseline {
        align-items: baseline;
    }
}
@mixin flex-justify($options) {
    @if $option == center {
        justify-content: center;
    }
    @else if $option == start {
        justify-content: flex-start;
    }
    @else if $option == end {
        justify-content: flex-end;
    }
}