<div class="featured-post">
    <h2 class="featured-post__title">{{.Title}}</h2>
    <img class="featured-post__image src={{.Image}}" alt="{{.Title}}" />
    <div class="featured-post__description">{{.Description}}</div>
</div>
